@media (max-width:991.98px) {

  .digital_play {
   width: 326px;
}

  .reality_text h1 {
    font-size: 100px;
}

#section_one {
    padding-top: 100px;
    background: 100%;
    background-image: url(../images/nav_background.svg);
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 1305px;
}

#blog {
    padding-top: 100px;
    background: 100%;
    background-image: url(../images/nav_background.svg);
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 1305px;
}

.blog_card_text {
  margin-top: 10px;
}

#navbar {
    width: fit-content;
}

  .Work_button button {
    padding: 30px 90px;
    font-size: 25px;

}

.Work_p h6 {
    font-size: 35px;
    min-width: 670px;
}

.transform_left {
  margin-bottom: 1238px;
  z-index: 100;
}

.featured_images .image {
     margin-top: 24px;
}

}
