* {
     font-family: "Manrope", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     padding: 0;
     margin: 0;
}

.pages span {
     color: red;
}

u {
     text-decoration: none;
}



ul,
ol {
     list-style: none;
     margin: 0;
     padding: 0;
}

button {
     white-space: nowrap;
}

:root {
     --font-family: "Manrope", sans-serif;
     --gray500: #B4B7C9;
     --white: #FFFFFF;
     --gray800: #33354D;
     --gray900: #0B0F19;
     --primary: #6366F1;
     --linear: linear-gradient(#6366F1, #8B5CF6, #D946EF);
     --gray700: #565973;
     --gray300: #E2E5F1;
     --gray400: #D4D7E5;
     --gray600: #9397AD;
     --gray100: #F3F6FF;
}

.container {
     width: 1300px !important;
}

/* Nav Work Start */

#navbar {
     background: url(../images/nav_background.svg);
     width: 100%;
}

.nav_manu ul li a {
     font-weight: 16px;
     line-height: 160%;
     cursor: pointer;
}

.checkbox_icon {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 8px;
}

.checkbox_work {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 52px;
}

.checkbox_button button {
     padding: 9px 20px;
     border-radius: 8px;
     line-height: 18px;
     border: none;
     color: #FFFFFF;
     background: #6366F1;
}

/*  Nav Work End */

/* Section One Start */

#section_one {
     padding-top: 143px;
     padding-bottom: 96px;
     background: url(../images/nav_background.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.transform {
     align-items: start;
}

.digital_play {
     display: flex;
     align-items: center;
     gap: 16px;
     margin-bottom: 16px;
}

.digital_button {
     width: 52px;
     height: 52px;
     border-radius: 50%;
     background: #FFFFFF;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}

.reality_text {
     padding-bottom: 64px;
}

.digital_text h4 {
     font-size: 24px;
     line-height: 140%;
     font-weight: bold;
     color: #33354D;
}

.reality_text h1 {
     font-size: 72px;
     line-height: 130%;
     font-weight: 800;
}

.reality_text h1 span {
     background: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
}

.Work_with {
     display: flex;
     align-items: start;
     justify-content: space-between;
     gap: 40px;
}

.Work_button button {
     padding: 9px 25px;
     border: none;
     background: var(--primary);
     color: var(--white);
     font-size: 16px;
     line-height: 160%;
     text-align: center;
     cursor: pointer;
     white-space: nowrap;
     border-radius: 8px;
}

.Work_p h6 {
     font-size: 16px;
     font-weight: 1.6;
     color: var(--gray700);
     min-width: 443px;
}

.discover_button {
     display: flex;
     align-items: center;
     gap: 16px;
     margin-top: 195px;
}

.discover_icon {
     width: 44px;
     height: 44px;
     border-radius: 50%;
     background: #FFFFFF;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}

.discover_text h6 {
     font-size: 14px;
     line-height: 160%;
     color: #565973;
}

.transform_left {
     position: relative;
}

.transform_left .move {
     position: absolute;
     animation: move 500s linear alternate infinite;
     top: 0;
     left: 0;
}

@keyframes move {
     0% {
          transform: rotate(0deg) scale(1);
     }

     50% {
          transform: rotate(3000deg) scale(1);
     }

     100% {
          transform: rotate(0deg) scale(1);
     }
}

/* Section One End */

/* Section Two start */

/* section top start */

.section_two_container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 72px;
     padding-top: 112px;
}

.creative_solutions {
     display: flex;
     align-items: center;
     gap: 72px;
}

.award_winning {
     display: flex;
     align-items: center;
     gap: 72px;
}

.team_of_professionals {
     display: flex;
     align-items: center;
     gap: 72px;
}

.two_work {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.two_p p {
     font-size: 16px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
}

.two_p p span {
     display: block;
     text-align: center;
}

.two_h3 h3 {
     font-size: 24px;
     line-height: 1.4;
     font-weight: 800;
     color: var(--gray900);
     padding-top: 24px;
}

.two_h3 p {
     font-size: 16px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
     padding-top: 12px;
}

/* section top End */

/* section down start */

.featured_container {
     margin-top: 128px;
}

.featured_text {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.featured_h3 h3 {
     font-size: 40px;
     line-height: 1.3;
     color: var(--gray900);
     font-weight: 800;
     padding-bottom: 24px;
}

.featured_p p {
     font-size: 18px;
     line-height: 1.6;
     font-weight: 400;
     padding-bottom: 40px;
     color: var(--gray600);
     min-width: 400px;
}

.featured_p p span {
     display: block;
     text-align: center;
}

.featured_images img {
     object-fit: cover;
}

.featured_images .image {
     border-radius: 8px;
     overflow: hidden;
}

.featured_images .featured_img1 {
     height: 856px;
}

.featured_images .featured_img2 {
     height: 416px;
}

.featured_images .featured_img3 {
     height: 416px;
}

.featured_images .featured_img4 {
     height: 416px;
     margin-top: 24px;
}

.featured_images .featured_img1,
.featured_images .featured_img2,
.featured_images .featured_img3,
.featured_images .featured_img4 {
     height: 100%;
}

.featured_button {
     padding: 13px 32px;
     background: var(--primary);
     border: none;
     color: #FFFFFF;
     border-radius: 8px;
     font-size: 16px;
     line-height: 1.6;
     font-weight: 600;
     margin-top: 40px;
     margin-bottom: 96px;
     margin-left: 43%;
}

.featured_button:hover {
     background: #dce5ff;
     color: #0B0F19;
     border: 1px solid #0B0F19;
     transition: all linear 0.10s;
}

/* section down end */

/*  Section Two End */

/* Section Three Start  */

.section_three_container {
     background: #F3F6FF;
     padding-top: 72px;
     padding-bottom: 96px;
}

.competencies_text {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.compet_h3 h3 {
     font-size: 40px;
     line-height: 1.3;
     color: var(--gray900);
     font-weight: 800;
}

.compet_p p {
     font-size: 18px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray600);
     max-width: 856px;
     text-align: center;
     margin: 0 auto;
     padding-top: 24px;
     padding-bottom: 40px;
}

.section_three_container .section_contant {
     max-width: 856px;
     margin: 0 auto;
}

.web_work {
     display: grid;
     grid-template-columns: 200px 1fr;
     align-items: center;
     gap: 40px;
}

.web_p p {
     max-width: 568px;
     font-size: 16px;
     font-weight: 400;
     color: var(--gray700);
     line-height: 1.6;
}

#section_three .accordion-button {
     position: relative;
     display: flex;
     align-items: center;
     width: 100%;
     padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
     font-size: 20px;
     color: var(--gray900);
     border-radius: 8px !important;
     border: none !important;
     font-weight: 600;
     line-height: 1.6;
     text-align: left;
     background-color: var(--bs-accordion-btn-bg);
     border: 0;
     overflow-anchor: none;
     transition: var(--bs-accordion-transition);
}

#section_three .class_accordion {
     border-radius: 8px !important;
}

#section_three .accordion-button:focus {
     box-shadow: none;
}

#section_three .accordion-button:not(.collapsed) {
     box-shadow: none;
}

#section_three .accordion_class {
     border-radius: 8px;
}



#section_three .accordion-button:not(.collapsed)::after {
     background-image: url(../images/web_dev_icon.svg) !important;
     background-position: center !important;
     background-repeat: no-repeat !important;
     background-size: cover !important;
     background: #6366F1;
     height: 36px;
     width: 36px;
     border-radius: 50%;
     transform: var(--bs-accordion-btn-icon-transform);
}

#section_three .accordion-button::after {
     background-image: url(../images/web_dev_icon2.svg) !important;
     background-position: center !important;
     background-repeat: no-repeat !important;
     background-size: cover !important;
     background: var(--gray100);
     height: 30px !important;
     width: 30px !important;
     border-radius: 50%;
     flex-shrink: 0;
     width: var(--bs-accordion-btn-icon-width);
     height: var(--bs-accordion-btn-icon-width);
     margin-left: auto;
     content: "";
     background-image: var(--bs-accordion-btn-icon);
     background-repeat: no-repeat;
     background-size: var(--bs-accordion-btn-icon-width);
     transition: var(--bs-accordion-btn-icon-transition);
}

/* Section Three End  */

/* Section Four Start  */

/* Trusted by Awesome Clients Work Start */

.trusted {
     margin-top: 96px;
}

.trusted_work h2 {
     font-size: 32px;
     line-height: 1.3;
     font-weight: 800;
     color: var(--gray900);
}

.slide_item {
     width: fit-content;
     border: 1px solid #E2E5F1;
     width: 196px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 112px;
     margin-top: 40px;
     cursor: pointer;
}

.slide_item img {
     filter: grayscale(100);
}

.slide_item img:hover {
     filter: grayscale(0);
     transition: all linear 0.30s;
}

.slide_view {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.leftaro,
.rightaro {
     background: var(--white);
     width: 36px;
     height: 36px;
     border-radius: 50%;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     top: -40px !important;
}

.leftaro {
     left: 92%;
}

#section_four .carousel_prev {
     background: url(../images/carousel_prev.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

#section_four .carousel_next {
     background: url(../images/carousel_next.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}


/* Trusted by Awesome Clients Work End */

/* What They Say About Us Work Start */

.head_of_marketing {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.about_us_top h2 {
     font-size: 40px;
     line-height: 1.3;
     font-weight: 800;
     color: #0B0F19;
     margin-bottom: 48px;
}

.about_us_center {
     display: flex;
     align-items: center;
     gap: 72px;
}

.about_us_end {
     display: flex !important;
     align-items: center !important;
     justify-content: center !important;
     gap: 676px !important;
     margin-bottom: 138px !important;
}

.about_us_ceo_buttom {
     display: flex;
     align-items: center;
     gap: 24px;
     margin-top: 32px;
}

.about_us_icon {
     width: 52px;
     height: 52px;
     border-radius: 8px;
     position: absolute;
     top: -20px;
     left: 48px;
}

.about_us_txt {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding: 20px 48px 26px;
     border-radius: 8px;
     background: var(--white);
     box-shadow:
          0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
          0 2px 6px -1px rgba(19, 16, 34, 0.03) !important;
}

.about_us_p p {
     color: var(--gray700);
     font-size: 18px;
     font-weight: 400;
     line-height: 1.6;
     max-width: 693px;
     padding-top: 32px;
     padding-bottom: 26px;
}

.about_us_opt img {
     transform: translateX(-38px);
}

.about_us_name h5 {
     font-size: 20px;
     line-height: 1.4;
     font-weight: 800;
     color: var(--gray900);
}

.about_us_name p {
     font-size: 14px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray600);
}

/* What They Say About Us Work End */

/* Our Creative Atmosphere Work Start */

.atmosphere {
     display: flex;
     flex-direction: column;
     gap: 18px;
     margin-bottom: 96px;
}

.atmosphere_text_work {
     display: flex;
     gap: 28px;
}

.atmosphere_text h3 {
     font-size: 40px;
     font-weight: 800;
     line-height: 130%;
     color: var(--gray900);
}

/* Our Creative Atmosphere Work End */

/* Award-winning designs featured by work start */

.award_winning {
     display: flex;
     align-items: center;
     gap: 100px;
}

.award_winning_txt {
     margin-bottom: 112px;
}

.award_winning_txt h3 {
     font-size: 32px;
     line-height: 1.3;
     font-weight: 800;
}

.award_winning_icon {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 16px;
}

.award_winning_p {
     margin-bottom: 112px;
}

.award_winning_p p {
     font-size: 14px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
     cursor: pointer;
}

.award_winning_p p:hover {
     background: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
}

.award_winning_p .award_1 {
     min-width: 130px;
}

.award_winning_p .award_3 {
     min-width: 136px;
}

.award_winning_p .award_4 {
     min-width: 102px;
}

/* Award-winning designs featured by work end */

/* Section Four End  */

/* Section Five Start */

#blog {
     padding-top: 96px;
     padding-bottom: 362px;
     background: var(--gray100);
}

#blog .blog_container h2 {
     margin-bottom: 40px;
}

.blog_container .left .image.left img {
     width: 100%;
}

.heading-1 {
     font-size: 40px;
     font-weight: 900;
     line-height: 1.3;
}

.heading-1 u a {
     color: #FFFFFF;
}

.blog_container .card_item {
     box-shadow:
          0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
          0 2px 6px -1px rgba(19, 16, 34, 0.03);
     position: relative;
     overflow: hidden;
}



#blog .blog_container .card_item .icon {
     position: absolute;
     height: 36px;
     width: 36px;
     background: var(--white);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     top: 16px;
     right: 16px;
}

.blog_card_text {
     background: var(--white);
     padding: 24px;
}

.blog_card_text .text .hours {
     display: flex;
     justify-content: space-between;
     gap: 10px;
     align-items: center;
}

.blog_card_text .text .hours span.digital {
     background: rgba(99, 101, 241, 0.12);
     border-radius: 4px;
     color: var(--primary);
     font-size: 14px;
     line-height: 22px;
     padding: 0 8px;
}

.blog_card_text .text .hours span.time {
     font-size: 14px;
     color: var(--gray-600);
}

.blog_card_text .text p {
     padding-top: 16px;
     padding-bottom: 16px;
     font-size: 20px;
     font-weight: 900;
     line-height: 1.6;
     color: var(--gray-800);
     border-bottom: 1px solid var(--gray300) !important;
}

.blog_card_text .info {
     display: flex;
     gap: 20px;
     align-items: center;
     padding-top: 24px;
}

.blog_card_text .info .user {
     width: 48px;
     height: 48px;
     border-radius: 50%;
     overflow: hidden;
}

.blog_card_text .info .user img {
     width: 48px;
     height: 48px;
     border-radius: 50%;
}

.blog_card_text .info .user_info h6 {
     font-size: 16px;
     line-height: 1.6;
}

.blog_card_text .info .user_info p {
     font-size: 14px;
     line-height: 1.6;
     color: var(--gray-600);
}


.right_layout {
     display: grid;
     grid-template-columns: 306px 1fr;
}

.right_layout .image img {
     width: 100%;
     height: 100%;
}

.right_layout:last-child {
     margin-top: 24px;
}

.right_layout .icon {
     top: 16px;
     left: 290px;
     transform: translateX(-100%);
}

.blog_container button {
     padding: 13px 32px;
     margin-top: 48px;
     border-radius: 8px;
     font-size: 16px;
     line-height: 1.6;
     background: rgba(99, 101, 241, 0.063);
     color: var(--primary);
     border: none;
     margin-left: 43% !important;
     display: flex;
     align-items: center;
     justify-content: center;
}

.blog_button span {
     margin-left: 12px;
     margin-right: 14px;
}


.blog_container .contact button {
     padding: 13px 32px;
     color: var(--gray800);
     border: none;
     background: transparent;
     position: relative;
     overflow: hidden;
     transition: all linear 0.5s;
     font-weight: 600;

}

.blog_container .contact button::before,
.blog_container .contact button::after {
     content: "";
     position: absolute;
     top: 0;
     width: 50%;
     height: 100%;
     background: var(--white);
     transition: transform 0.5s ease-in-out, opacity 0.4s ease;
     z-index: -1;
}

.blog_button button:hover {
     background: #dce5ff;
     border: 1px solid #0B0F19;
     transition: all linear 0.10s;
}

.blog_container .contact button::before {
     left: 0;
}

.blog_container .contact button::after {
     right: 0;
}

.blog_container .contact button:hover {
     border: 1px solid var(--white);
     color: var(--white);

}

.blog_container .contact button:hover::before {
     transform: translateX(-100%);

}

.blog_container .contact button:hover::after {
     transform: translateX(100%);

}

.blog_container {
     position: relative;
}


.blog_container .contact {
     padding: 96px 0 104px 0;
     height: 406px;
     background: url("../images/blog_bg_img.svg");
     text-align: center;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     transform: translateY(112px);
     position: absolute;
     width: 100%;
}

.blog_container .contact p {
     font-size: 24px;
     line-height: 1.6;
     color: rgba(255, 255, 255, 0.714);
     margin-bottom: 16px;
}

/* Section Five End */

/* Section Six Start */

footer#footer {
     margin-top: 215px;
     margin-bottom: 64px;
}

footer p {
     font-size: 14px;
}

footer p:last-child {
     font-size: 14px;
     margin-top: 72px;
     color: var(--gray-600);
}

footer form {
     margin-top: 40px;
     height: 44px;

}

footer form label {
     font-size: 14px;
     line-height: 1.6;
     font-weight: 600;

}

footer form .input_form {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: 1px solid var(--gray400);
     border-radius: 6px;
     height: 100%;
}



footer form .input_form input {
     border: none;
     width: 100%;
     height: 100%;

}



footer form .input_form button {
     border: none;
     width: 124px;
     background: var(--primary);
     color: var(--white);
}



footer ul li {
     margin-bottom: 8px;
     white-space: nowrap;
     font-size: 16px;
     font-weight: 600;
     line-height: 1.6;
     color: var(--gray-800);
}

footer .footer_right div ul:last-child {
     margin-top: 40px;
}

.sec_six {
     font-size: 14px;
     font-weight: 400;
     line-height: 1.6;
     color: var(--gray700);
}

.foot_lst {
     font-size: 12px !important;
     line-height: 1.6 !important;
     font-weight: 400 !important;
     color: var(--gray-600) !important;
}

input:focus-visible {
     outline: none;
     box-shadow: none;
}

/* Section Six End */

/* Section Seven Start */

#section_seven {
     background: var(--gray100);
     height: 1545px;
}

.services_icons {
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 16.36px;
     padding-bottom: 32px;
     padding-top: 40px;
}

.homepage,
.ser_icon,
.ser_txt {
     cursor: pointer;
}

.homepage:hover {
     color: #6366F1;
     transition: all linear 0.06s;
}

.homepage {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 6.25px;
}

.ser_txt p {
     color: var(--primary);
}

.services_work {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 40px;
}

#section_seven h1 {
     font-size: 40px !important;
     line-height: 1.3 !important;
     font-weight: 800 !important;
     color: #0B0F19 !important;
     padding-bottom: 50px;
}

.services_clients {
     position: absolute;
     transform: translateY(-230px);
     padding-bottom: 72px;
}

.services_icon {
     position: absolute;
     border-radius: 8px;
     top: -20px;
     left: 48px;
     height: 80px;
     width: 80px;
     background: var(--primary);
     display: flex;
     align-items: center;
     justify-content: center;
}

.col-lg-6 {
     flex: 0 auto;
     width: 50%;
}

.services_txt {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding: 64px 40px 40px;
     border-radius: 8px;
     margin-bottom: 40px;
     background: var(--white);
     box-shadow:
          0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
          0 2px 6px -1px rgba(19, 16, 34, 0.03) !important;
}

.services_p h4 {
     padding-top: 24px;
     font-size: 24px;
     line-height: 1.4;
     font-weight: 800;
     margin-right: 8px;
     color: var(--gray900);
}

.services_p p {
     padding-top: 16px;
     font-size: 14px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
}

.services_h2 h2 {
     font-size: 40px;
     line-height: 1.3;
     font-weight: 800;
     color: #0B0F19;
     margin-bottom: 48px;
}

.services_flax {
     display: flex;
     align-items: center;
     gap: 72px;
}

.services_tax {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding: 48px 48px 64px;
     border-radius: 8px;
     background: var(--white);
     box-shadow:
          0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
          0 2px 6px -1px rgba(19, 16, 34, 0.03) !important;
}

.services_p p {
     color: var(--gray700);
     font-size: 18px;
     font-weight: 400;
     line-height: 1.6;
     max-width: 693px;
}

.services_buttom {
     display: flex;
     align-items: center;
     gap: 24px;
     margin-top: 32px;
}

.services_end {
     display: inline !important;
     margin-top: 40px;
}

.why_choose_us {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 24px;
     padding-top: 330px;
     padding-bottom: 112px;
}

.why_choose_img {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.why_imgs .why_img {
     display: flex !important;
     align-items: center !important;
     justify-content: center !important;
     height: 64px;
     width: 64px;
     background: var(--white);
     border-radius: 50%;
     box-shadow:
          0 4.4px 12px -1px rgba(19, 16, 34, 0.06),
          0 2px 6px -1px rgba(19, 16, 34, 0.03) !important;
     margin-left: 105px;
}

.why_choose_h1 h1 {
     font-size: 40px !important;
     line-height: 1.3 !important;
     font-weight: 800 !important;
     color: #0B0F19 !important;
     padding-bottom: 0px !important;
}

.why_choose_p p {
     font-size: 18px;
     font-weight: 400;
     line-height: 1.6;
     color: #9397AD;
}

.why_p p {
     text-align: center;
     min-width: 282px;
     font-size: 20px;
     font-weight: 800;
     line-height: 1.4;
     color: var(--gray900);
     padding-top: 24px;
     padding-bottom: 40px;
}

.why_img_line {
     margin-right: 24px;
     margin-left: 24px;
}

footer#footer_1 {
    margin-top: 96px;
    margin-bottom: 64px;
}

/* Section Seven End */

/* Section Eight Start */

.eight_container {
     background: var(--gray100);
     border-radius: 8px;
     padding: 72px 0 72px;
}

.touch_work1 h2 {
     font-size: 40px;
     line-height: 1.3;
     font-weight: 800;
     color: #0B0F19;
}

.touch_work1 p {
     font-size: 16px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
     padding-top: 24px;
     max-width: 395px;
}

.touch_work1 h3 {
     font-size: 28px;
     line-height: 1.3;
     font-weight: var(--gray900);
     color: #0B0F19;
     margin-top: 72px;
     margin-bottom: 24px;
}

.contact_info_div .contact_info {
     display: flex;
     align-items: center;
     margin-bottom: 8px;
     gap: 10px;
}

.contact_text p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    color: var(--gray800);
    padding-top: 0;
}

.contact_madia {
     display: flex;
     align-items: center;
}

.contact_madia {
     display: flex;
     gap: 16px;
     margin-top: 72px;
}

.contact_madia_imges {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 8px;
     height: 44px;
     width: 44px;
     background: var(--gray300);
}

.contact_madia_imge {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 8px;
     height: 44px;
     width: 44px;
     background: var(--primary);
}

.get_touch {
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin: 0 auto;
}

.touch_work2 {
     padding: 32px 32px;
     background-color: var(--white);
     box-shadow: 0 4.4px 12px -1px rgba(19, 16, 34, 0.06), 
     0 2px 6px -1px rgba(19, 16, 34, 0.03) !important;
     border-radius: 8px;
}

.touch_1 {
     margin-bottom: 24px;
}

.form-select {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gray600);
}

.touch_work2 span {
color: #6366F1;
}

.form-select:focus {
     border-color: var(--gray400);
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--gray400);
    outline: 0;
    box-shadow: none;
}

.form-check-input:focus {
    border-color: var(--gray400);
    outline: 0;
    box-shadow: none;
}

.touch_work2 button {
     padding:13px 32px;
     background: #6366F1;
     color: var(--white);
     border-radius: 8px;
     border: none;
     font-size: 16px;
     line-height: 1.6;
     font-weight: 600;
     margin-top: 32px;
}

/* Section Eight End */