* {
     font-family: "Manrope", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     padding: 0;
     margin: 0;
}

button {
     white-space: nowrap;
}

:root {
     --font-family: "Manrope", sans-serif;
     --gray500: #B4B7C9;
     --white: #FFFFFF;
     --gray800: #33354D;
     --gray900: #0B0F19;
     --primary: #6366F1;
     --linear: linear-gradient(#6366F1, #8B5CF6, #D946EF);
     --gray700: #565973;
     --gray300: #E2E5F1;
     --gray600: #9397AD;
     --gray100: #F3F6FF;
}

.container {
     width: 1300px !important;
}

/* Nav Work Start */

#navbar {
     background: url(../images/nav_background.svg);
     width: 100%;
}

.nav_manu ul li a {
     font-weight: 16px;
     line-height: 160%;
     cursor: pointer;
}

.checkbox_icon {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 8px;
}

.checkbox_work {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 52px;
}

.checkbox_button button {
     padding: 9px 20px;
     border-radius: 8px;
     line-height: 18px;
     border: none;
     color: #FFFFFF;
     background: #6366F1;
}

/*  Nav Work End */

/* Section One Start */

#section_one {
     padding-top: 143px;
     padding-bottom: 96px;
     background: url(../images/nav_background.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.transform {
     align-items: start;
}

.digital_play {
     display: flex;
     align-items: center;
     gap: 16px;
     margin-bottom: 16px;
}

.digital_button {
     width: 52px;
     height: 52px;
     border-radius: 50%;
     background: #FFFFFF;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}

.reality_text {
     padding-bottom: 64px;
}

.digital_text h4 {
     font-size: 24px;
     line-height: 140%;
     font-weight: bold;
     color: #33354D;
}

.reality_text h1 {
     font-size: 72px;
     line-height: 130%;
     font-weight: 800;
}

.reality_text h1 span {
     background: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
}

.Work_with {
     display: flex;
     align-items: start;
     justify-content: space-between;
     gap: 40px;
}

.Work_button button {
     padding: 9px 25px;
     border: none;
     background: var(--primary);
     color: var(--white);
     font-size: 16px;
     line-height: 160%;
     text-align: center;
     cursor: pointer;
     white-space: nowrap;
     border-radius: 8px;
}

.Work_p h6 {
     font-size: 16px;
     font-weight: 1.6;
     color: var(--gray700);
     min-width: 443px;
}

.discover_button {
     display: flex;
     align-items: center;
     gap: 16px;
     margin-top: 195px;
}

.discover_icon {
     width: 44px;
     height: 44px;
     border-radius: 50%;
     background: #FFFFFF;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}

.discover_text h6 {
     font-size: 14px;
     line-height: 160%;
     color: #565973;
}

.transform_left {
     position: relative;
}

.transform_left .move {
     position: absolute;
     animation: move 500s linear alternate infinite;
     top: 0;
     left: 0;
}

@keyframes move {
     0% {
          transform: rotate(0deg) scale(1);
     }

     50% {
          transform: rotate(3000deg) scale(1);
     }

     100% {
          transform: rotate(0deg) scale(1);
     }
}

/* Section One End */

/* Section Two start */

/* section top start */

.section_two_container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 72px;
     padding-top: 112px;
}

.creative_solutions {
     display: flex;
     align-items: center;
     gap: 72px;
}

.award_winning {
     display: flex;
     align-items: center;
     gap: 72px;
}

.team_of_professionals {
     display: flex;
     align-items: center;
     gap: 72px;
}

.two_work {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.two_p p {
     font-size: 16px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
}

.two_p p span {
     display: block;
     text-align: center;
}

.two_h3 h3 {
     font-size: 24px;
     line-height: 1.4;
     font-weight: 800;
     color: var(--gray900);
     padding-top: 24px;
}

.two_h3 p {
     font-size: 16px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
     padding-top: 12px;
}

/* section top End */

/* section down start */

.featured_container {
      margin-top: 128px;
}

.featured_text {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.featured_h3 h3 {
     font-size: 40px;
     line-height: 1.3;
     color: var(--gray900);
     font-weight: 800;
     padding-bottom: 24px;
}

.featured_p p {
     font-size: 18px;
     line-height: 1.6;
     font-weight: 400;
     padding-bottom: 40px;
     color: var(--gray600);
     min-width: 400px;
}

.featured_p p span {
     display: block;
     text-align: center;
}

.featured_images img {
     object-fit: cover;
}

.featured_images .image {
     border-radius: 8px;
     overflow: hidden;
}

.featured_images .featured_img1 {
     height: 856px;
}

.featured_images .featured_img2 {
     height: 416px;
}

.featured_images .featured_img3 {
     height: 416px;
}

.featured_images .featured_img4 {
     height: 416px;
     margin-top: 24px;
}

.featured_images .featured_img1,
.featured_images .featured_img2,
.featured_images .featured_img3,
.featured_images .featured_img4 {
     height: 100%;
}

.featured_button {
     padding: 13px 32px;
     background: var(--primary);
     border: none;
     color: #FFFFFF;
     border-radius: 8px;
     font-size: 16px;
     line-height: 1.6;
     font-weight: 600;
     margin-top: 40px;
     margin-bottom: 96px;
     margin-left: 43%;
}

.featured_button:hover {
     transform: scale(1.1);
     background: #8B5CF6;
     color: #0B0F19;}

/* section down end */

/*  Section Two End */

/* Section Three Start  */

.section_three_container {
     background: #F3F6FF;
      padding-top: 72px;
     padding-bottom: 96px;
}

.competencies_text {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.compet_h3 h3 {
     font-size: 40px;
     line-height: 1.3;
     color: var(--gray900);
     font-weight: 800;
}

.compet_p p {
     font-size: 18px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray600);
     max-width: 856px;
     text-align: center;
     margin: 0 auto;
     padding-top: 24px;
     padding-bottom: 40px;
}

.section_three_container .section_contant {
     max-width: 856px;
     margin: 0 auto;
}

.web_work {
     display: grid;
     grid-template-columns: 200px 1fr;
     align-items: center;
     gap: 40px;
}

.web_p p {
     max-width: 568px;
     font-size: 16px;
     font-weight: 400;
     color: var(--gray700);
     line-height: 1.6;
}

#section_three .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 20px;
    color: var(--gray900);
    border-radius: 8px !important;
    border: none !important;
    font-weight: 600;
    line-height: 1.6;
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

#section_three .class_accordion {
     border-radius: 8px !important;
}

#section_three .accordion-button:focus {
    box-shadow: none;
}

#section_three .accordion-button:not(.collapsed) {
    box-shadow: none;
}

#section_three .accordion_class {
     border-radius: 8px;
}



#section_three .accordion-button:not(.collapsed)::after {
    background-image: url(../images/web_dev_icon.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: #6366F1;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    transform: var(--bs-accordion-btn-icon-transform);
}

#section_three .accordion-button::after {
     background-image: url(../images/web_dev_icon2.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: var(--gray100);
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

/* Section Three End  */

/* Section Four Start  */

/* Trusted by Awesome Clients Work Start */

.trusted {
     margin-top: 96px  ;
}

.trusted_work h2 {
     font-size: 32px;
     line-height: 1.3;
     font-weight: 800;
     color: var(--gray900);
}

.slide_item {
     width: fit-content;
     border: 1px solid #E2E5F1;
     width: 196px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 112px;
     margin-top: 40px;
     cursor: pointer;
}

.slide_item img {
     filter: grayscale(100);
}

.slide_item img:hover {
     filter: grayscale(0);
     transition: all linear 0.30s;
}

.slide_view {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.leftaro , .rightaro {
     background: var(--white);
     width: 36px;
     height: 36px;
     border-radius: 50%;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     top: -40px !important;
}

.leftaro {
     left: 92%;
}

#section_four .carousel_prev {
     background: url(../images/carousel_prev.svg) ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

#section_four .carousel_next {
     background: url(../images/carousel_next.svg) ;
      background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

/* Trusted by Awesome Clients Work End */

/* What They Say About Us Work Start */

.head_of_marketing {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.about_us_top h2 {
     font-size: 40px;
     line-height: 1.3;
     font-weight: 800;
     color: #0B0F19;
     margin-bottom: 48px;
}

.about_us_center {
     display: flex;
     align-items: center;
     gap: 72px;
}

.about_us_end {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 676px;
     margin-bottom: 138px;
}

.about_us_ceo_buttom {
     display: flex;
     align-items: center;
     gap: 24px;
     margin-top: 32px;
}

.about_us_txt {
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 26px;
     width: 808px;
     height: 346px ;
     border: 2px solid var(--white);
     box-shadow: 0px 0px 20px 9px #FFFFFF;
}

.about_us_p p {
     color: var(--gray700);
     font-size: 18px;
     font-weight: 400;
     line-height: 1.6;
     max-width: 693px;
}

.about_us_opt img {
     transform: translateX(-38px);
}

.about_us_name h5 {
     font-size: 20px ;
     line-height: 1.4;
     font-weight: 800;
     color: var(--gray900);
}

.about_us_name p {
     font-size: 14px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray600);
}

/* What They Say About Us Work End */

/* Our Creative Atmosphere Work Start */

.atmosphere {
     display: flex;
     flex-direction: column;
     gap: 18px;
     margin-bottom: 96px;
}

.atmosphere_text_work {
     display: flex;
     gap: 28px;
}

.atmosphere_text h3 {
     font-size: 40px;
     font-weight: 800;
     line-height: 130%;
     color: var(--gray900);
}

/* Our Creative Atmosphere Work End */

/* Award-winning designs featured by work start */

.award_winning {
     display: flex;
     align-items: center;
     gap: 100px;
}

.award_winning_txt {
     margin-bottom: 112px;
}

.award_winning_txt h3 {
     font-size: 32px;
     line-height: 1.3;
     font-weight: 800;
}

.award_winning_icon {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 16px;
}

.award_winning_p {
     margin-bottom: 112px;
}

.award_winning_p p {
     font-size: 14px;
     line-height: 1.6;
     font-weight: 400;
     color: var(--gray700);
     cursor: pointer;
}

.award_winning_p p:hover {
      background: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
}

.award_winning_p .award_1 {
     min-width: 130px;
}

.award_winning_p .award_3 {
     min-width: 136px;
}

.award_winning_p .award_4 {
     min-width: 102px;
}

/* Award-winning designs featured by work end */

/* Section Four End  */